
<h2>Here is your grid: </h2>
<% @letters.each do |letter| %>
  <%= letter %>
<% end %>

<h2>What's your best shot?</h2>

<form action="/score" method="post" data-turbo="false">
  <% start_time = Time.now %>
  <input type="text" name="word">
  <input type="submit" class="btn btn-primary" value="Play">
  <% end_time = Time.now %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
